<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ds.double_live_demo.mapper.UserMapper">
    <select id="selectById" resultType="cn.ds.double_live_demo.entity.User" parameterType="string">
        select * from user_account where global_id = #{id};
    </select>
    <select id="selectByUserName" resultType="cn.ds.double_live_demo.entity.User" parameterType="string">
        select * from user_account where username = #{username};
    </select>
    <insert id="add" parameterType="cn.ds.double_live_demo.entity.User">
        insert into user_account (global_id,username,password,salt,other) values (#{globalId},#{username},#{password},#{salt},#{other});
    </insert>
</mapper>